In [27]:
import pandas as pd
 
# initialize list of lists
data = [['Category 1', 10], ['Category 2', 4], ['Category 3', 8],  ['Category 1', 3], ['Category 1', 2], ['Category 3', 1]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Category', 'Quantity'])
 
# print dataframe.
print(df)

     Category  Quantity
0  Category 1        10
1  Category 2         4
2  Category 3         8
3  Category 1         3
4  Category 1         2
5  Category 3         1

In [28]:
Total_Quantity = df['Quantity'].sum()
Total_Quantity

28

In [29]:
df.groupby('Category')['Quantity'].sum()

Category
Category 1    15
Category 2     4
Category 3     9
Name: Quantity, dtype: int64

In [31]:
df['Total_Qty'] = df['Quantity'].sum()

In [35]:
df['Total_Cat_Qty'] = df.groupby('Category').aggregate('Quantity').transform(sum)

In [36]:
df

     Category  Quantity  Total_Qty  Total_Cat_Qty
0  Category 1        10         28             15
1  Category 2         4         28              4
2  Category 3         8         28              9
3  Category 1         3         28             15
4  Category 1         2         28             15
5  Category 3         1         28              9